<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
        <nav class="navbar">
  <div class="logo">INGLU</div>

  <div class="menu">
    <a href="#">Home</a>
    <a href="#">Community</a>
    <a href="#">Events</a>
    <a href="#">Internships</a>
    <a href="#">Contact</a>
  </div>

  <button class="cta-btn">Join Now</button>
</nav>
    <div class="wrapperHero">
        <h1>INGLU</h1>
        <h2>FASTEST GROWING GLOBAL YOUTH COMMUNITY</h2>
    </div>
</body>
</html>