    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .wrapperHero{
        width: 100%;
        height: 100vh;
        background-color: #0E0637;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .wrapperHero h1{
        color: white;
        font-size: 13rem;
        line-height: 23rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .wrapperHero h2{
        color: white;
        font-size: 0.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: -2rem;
        letter-spacing: 0.2rem;
    }

    nav{
        width: 100%;
        height: 10vh;
        background-color: #0E0637;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    nav h1{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }
    nav .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-left: 5rem;
    }
    nav .menu a{
        text-decoration: none;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }
    nav .cta-btn{
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        margin-left: 5rem;
        background-color: #FFC107;
        color: #0E0637;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        cursor: pointer;
    }